{% extends 'base.html' %}

{% block content %}
  <h1>About the Butterfly Garden</h1>
  <p>Welcome to my butterfly collection, where we're passionate about live butterflies and their favorite floras!<br><br> Join us as we capture and track these delicate creatures' life cycles. From egg to caterpillar to vibrant butterfly, we meticulously document their transformation, gaining invaluable insights into their behaviors and habitats. Explore the beauty and wonder of butterflies with us today!</p>

{% endblock %}
  